<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PostgreSQLConnectionString" connectionString="Host=10.211.55.2;Database=tourplanner;Username=postgres;Password=changeme" />
		<add name="MapQuestApiKey" connectionString="gaOGsXknfsoJ4v5IdQTUwyrv8qtCqPIT" />
	</connectionStrings>
	<appSettings>
		<add key="ResetDatabase" value="false" />
	</appSettings>
</configuration>